VITE_SUPABASE_URL=https://foyfajythafoejlbqfde.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZveWZhanl0aGFmb2VqbGJxZmRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MzkxNzgsImV4cCI6MjA5NzMxNTE3OH0.m_2HIp0_DRry0P_WAV777Onv3XT_8Dm065APrPRAdNo
